

{{!-- This is a directory page



CurrentPath: {{CurrentPath}} --}}

<table class="ui selectable striped table">
{{#if list}}
  <thead>
    <tr>
       <th colspan="3"><span id="currentpath">{{currentPath}}</span></th>
  </tr></thead>
  <tbody>
   {{#each list}}

      {{#if this.file}}
      <tr>
         <td class="file">
            <i class="file outline icon"></i>{{this.name}}
         </td>
         <td>
            Test (Update time)
         </td>
         <td>
            <i class="cloud download icon" value="{{this.id}}"></i> {{!--should be rewrite to id --}}
         </td>
      </tr>
      {{else}}
      <tr class="dir">
         <td>
            <i class="folder icon"></i>{{this.name}}
         </td>
         <td class="right aligned">
            Test(Update time)
         </td>
         <td>
            
         </td>
      </tr>
      {{/if}}
   {{/each}}
{{else}}
   <thead>
      <tr>
         <th colspan="3">No files or directories!</th>
      </tr>
   </thead>
{{/if}}
   <tr id="newdirtr" style="display:none;">
      <td>
         <div class="ui mini input">
            <input id="newdirname" type="text" placeholder="Name...">
         </div>
         <i class="check icon" id="mkdirconfirm"></i>
         <i class="close icon" id="mkdircancel"></i></td>
      <td></td>
      <td></td>
   </tr>
  </tbody>
</table>


<div>
   <button class="ui primary basic button" id="falseinput" >Select File</button>
   <button class="ui primary basic button" id="falseupload">Upload</button>
   <button class="ui primary basic button" id="makedirbtn">Create Directory</button>
</div>
<div>
   <span id="selected_filename">You havn't select any files.</span>
</div>

<form action="/upload" method="POST" enctype="multipart/form-data">
    <input id="fileinput" type="file" name="file" style="display:none;">
    <input type="hidden" name="path" value="{{currentPath}}" style="display:none">
    <input id="doupload" type="submit" value="Upload" style="display:none;">
</form>