

<table class="ui selectable striped table">
   <thead>
    <tr>
       <th><span id="currentpath">Path: {{currentPath}}</span><span id="dir_id">{{dir_id}}</span></th>
       <th>Authority</th>
  </tr></thead>
{{#if list}}
  <tbody>
   {{#each list}}
      <tr>
         <td>
            {{this.user}}
         </td>
         <td>
            {{this.authority}}
            <div class="ui selection dropdown authorityDropdown">
               <input type="hidden" name="authority"  value="{{this.authority}}">
               <i class="dropdown icon"></i>
               {{!-- <div class="default text"></div> --}}
               <div class="menu">
                  <div class="item" data-value="0">No Access</div>
                  <div class="item" data-value="1">Read Only</div>
                  <div class="item" data-value="2">Writable</div>
               </div>
            </div>
         </td>
      </tr>
   {{/each}}
{{else}}
   <tbody>
      <tr>
         <td>Noone has authority to access to this directory.</td>
         <td></td>
      </tr>
   </tbody>
{{/if}}
   <tr id="newAuthorityModal" style="display:none;">
      <td>
         <div class="ui mini input">
            <input id="targetUser" type="text" placeholder="Name...">
         </div>
      </td>
      <td>
         <div class="ui selection dropdown">
            <input type="hidden" name="authority" value="1">
            <i class="dropdown icon"></i>
            <div class="text"></div> 
            <div class="menu">
               <div class="item" data-value="1">Read Only</div>
               <div class="item" data-value="2">Writable</div>
            </div>
         </div>
         <i class="check icon" id="newAuthorityConfirm" ></i>
         <i class="close icon" id="newAuthorityCancel"></i>
      </td>
   </tr>
  </tbody>
</table>


<div>
   <button class="ui primary basic button" id="newAuthorityBtn">New</button>
</div>


{{!-- <br>
<div class="sharemodal">
   <div class="ui mini input">
      <input id="targetuser" type="text" placeholder="Username...">
   </div>
   <div class="ui selection dropdown authorityDropdown">
      <input type="hidden" name="authority" value="1">
      <div class="text"></div> 
      <i class="dropdown icon"></i>
      <div class="menu">
         <div class="item" data-value="1">Read Only</div>
         <div class="item" data-value="2">Writable</div>
      </div>
   </div>
   <button class="ui primary basic button" id="shareconfimr">Confirm</button>
</div> --}}
{{!-- <form action="/upload" method="POST" enctype="multipart/form-data">
    <input id="fileinput" type="file" name="file" style="display:none;">
    <input type="hidden" name="path" value="{{currentPath}}" style="display:none">
    <input id="doupload" type="submit" value="Upload" style="display:none;">
</form> --}}