

<table class="ui selectable striped table">
   <thead>
    <tr>
       <th colspan="3"><span id="owner">{{owner}}</span>: <span id="currentdir">{{currentDir}}</span><span id="dir_id">{{dir_id}}</span></th>
  </tr></thead>
{{#if list}}
  
  <tbody>
   {{#each list}}

      {{#if this.file}}
      <tr>
         <td>
            <i class="file outline icon"></i>{{this.name}}
         </td>
         <td>
            {{this.time}}
         </td>
         <td>
            <i class="cloud download icon file" value="{{this.id}}"></i> {{!--should be rewrite to id --}}
         </td>
      </tr>
      {{else}}
      <tr class="dir" value="{{this.id}}">
         <td>
            <i class="folder icon"></i>{{this.name}}
         </td>
         <td class="right aligned">
             {{this.owner}}
         </td>
         <td>
         </td>
      </tr>
      {{/if}}
   {{/each}}
{{else}}
   <tbody>
      <tr>
         <td>No files or directories!</td>
      </tr>
   </tbody>
{{/if}}
  </tbody>
</table>
